<!DOCTYPE html>
<html ng-app="haus">
    <head>
        <title>
            {% block title %}{% endblock %}
            | Hausautomatisierung</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/stylesheets/bootstrap-material-design.min.css"/>
        <link rel="stylesheet" href="/javascripts/angular-loading-bar/build/loading-bar.min.css"/>
        <link rel="stylesheet" href="/javascripts/angular-ui-notification/dist/angular-ui-notification.min.css"/>
        <link rel="stylesheet" href="/stylesheets/nouislider.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.14/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
        <script src="/javascripts/nouislider.min.js"></script>
        <script src="/javascripts/angular-chart.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/javascripts/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
        <script type="text/javascript" src="/javascripts/angular-loading-bar/build/loading-bar.min.js"></script>
        <script type="text/javascript" src="/javascripts/HausCtrl.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-xs-12 alert alert-warning">
                <center>
                    <h2>Hausautomatiesierung WS 2016/17</h2>
                    <a href="/">Zur Startseite
                    </a>
                    &nbsp;&nbsp;
                    <a href="/logout">
                        Logout
                    </a>
                    <div class="sr-only">

                        {% block user %}{% endblock %}

                    </div>
                </center>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

    </body>
<script>
    var range = document.getElementById('range');


    noUiSlider.create(range, {
        start: 15,
        margin: 300, // Handles must be at least 300 apart
        connect: true, // Display a colored bar between the handles
        height: 20,
        direction: 'ltr', // Put '0' at the bottom of the slider
        orientation: 'horizontal', // Orient the slider vertically
        behaviour: 'tap-drag', // Move handle on tap, bar is draggable
        step: 5,
        tooltips: true,
        range: {
            'min': 0,
            'max': 30
        },
        pips: { // Show a scale with the slider
            mode: 'steps',
            stepped: true,
            density: 4
        }
    });
</script>
</html>
